@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --primary: #4D4DCE;
    --bg: #DDDDFF;
    --border-card: #F2F2FD;
    --cards: #FEFEFF;
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/

#logo-desktop {
    height: 3rem;
    display: flex;
}

#logo-phone {
    display: none;
}

.show-menu,
    .hide-menu{
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
    }

    .show-menu{
        order: 1;
    }

    .menu a:hover,
    .show-menu:hover,
    .hide-menu{
        transition: 0.2s ease-out;
    }

    #check{
        display: none;
    }


    header{
        background-color: #F2F2FD;
        padding: 4vh;
        display: flex;  
        justify-content: space-between;
    }


    header ul{
        display: grid; 
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr;    
        gap: 25px;
        list-style: none;
        align-items: center;
    }

    header li a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .menu{
        text-align: center;
    }

    /*PRIMARY BUTTON*/

    .btn-primary{
        background-color: var(--primary);
        padding: 10px 15px;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
    }

    .btn-primary-desktop, .btn-primary-phone{
        background-color: var(--primary);
        padding: 10px 15px;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
    }
    


/*RESPONSIVE HEADER*/

    @media screen and (max-width:480px) {

        #logo-desktop {
            display: none;
        }
        
        #logo-phone {
            height: 3rem;
            display: flex;
        }

        header li a{
            text-decoration: none;
            color: white;
            font-weight: 500;
        }

        
        .show-menu,
        .hide-menu{
        display: block;
        }

        .menu{
            position: fixed;
            width: 100%;
            height: 120vh;
            background: #4D4DCE;
            right: -100%;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            z-index: 100;
            transition: 0.8s;
            display: block;
            justify-content: center;
            margin: 0;
        }

        header li a{
            display: block;
            padding: 20px;
            color: #FEFEFF;
            justify-content: center;
        }

        .hide-menu{
            position: absolute;
            top: 40px;
            right: 40px;
        }
        #check:checked ~ .menu{
            right: 0;
        }
        
    }


    /*MAIN*/

    main{
        padding: 2% 4%;
    }

    .container-flex{
        background-color: #DDDDFF;
        padding: 2%;
        border-radius: 15px;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
        align-items: center;
        margin-bottom: 20px;
        width: 90vw;
    }

    .container-flex img{
        width: 515px;
        border-radius: 10px;
    }

    .content h2{
        margin-bottom: 10px;
    }

    span{
        color: #4269EC;
        font-weight: 600;
    }

    .title{
        margin: 0vh 2vw;
    }
    
    h3{
        font-size: 1.2rem;
        font-weight: 400;
    }

    

    /*CODERHOUSE*/

    .container-coderhouse{
        padding: 10px;
        border-radius: 15px;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
        align-items: center;
        margin-bottom: 20px;
        width: 90vw;
    }

    .container-coderhouse{
        display: flex;
    }

    .container-coderhouse img{
        width: 120px;
        border-radius: 10px;
        margin-right: 20px;
    }

    .content-coderhouse h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .container-coderhouse h3{
        font-size: 1rem;
    }

    


/*RESPONSIVE MAIN*/

@media screen and (max-width:480px) {
    .container-flex{
        background-color: #DDDDFF;
        padding: 4%;
        height: 60vh;
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
        align-items: center;
        margin-bottom: 20px;
    }

    .container-flex img{
        width: 82vw;
        text-align: center;
        margin-bottom: 10px;
    }

    .btn-primary{
        display: none;
    }

    .container-coderhouse img{
        width: 100px;
    }

    .container-coderhouse h3{
        font-size: 0.8rem;
    }

}


    /*ABOUT*/

    .about{
        padding: 20px;
    }

    .about h3{
        margin-top: 20px;
    }


    /*MORE ABOUT*/

    #more-about{
        background-color: var(--bg);
        padding: 5%;
    }

    .cards-more{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr;
        gap:25px;
        margin-top: 20px;
    }

    .card-m{
        background-color: var(--cards);
        align-items: center;
        padding: 10vh 5vw;
        border-radius: 20px;
    }

    .card-m h3{
        color: #8e8ea7;
    }

    a{
        color: black;
        font-weight: 400;
    }



    /*RESPONSIVE MORE ABOUT*/
    @media screen and (max-width:480px) {

        #more-about{
            padding: 8%;
        }
    
        .cards-more{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    
        .card-m{
            background-color: var(--cards);
            align-items: center;
            padding: 10vh 12vw;
            border-radius: 20px;
        }

        a{
            font-size: 1.2rem;
        }

        
    }


    /*TOOLS*/

    #tools{
        background-color: var(--bg);
        padding: 5%;
    }

    .tools-cards{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap:25px;
        margin-top: 20px;
    }

    .card-t{
        background-color: var(--cards);
        display: flex;
        align-items: center;
        padding: 10vh 5vw;
        border-radius: 20px;
    }

    .card-t img{
        width: 7vw;
        margin-right: 15px;
    }
  

    /*RESPONSIVE TOOLS*/

    @media screen and (max-width:1024px) {
        .card-m, .card-t{
            padding: 5vh 5vw;
        }
    }


    @media screen and (max-width:480px) {

    #tools{
        padding: 8%;
    }

    .tools-cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .card-t{
        background-color: var(--cards);
        align-items: center;
        padding: 10vh 12vw;
        border-radius: 20px;
    }

    .card-t img{
        width: 10vw;
        margin-right: 15px;
    }
  
    }



    /*TOOLS RELATIONATED*/

    #tools-rel{
        padding: 5%;
    }

    .tools-cards-rel{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap:25px;
        margin-top: 20px;
    }

    .card-tr{
        background-color: var(--bg);
        display: flex;
        align-items: center;
        padding: 6.5vh 3.5vw;
        border-radius: 20px;
    }

    .card-tr img{
        width: 5vw;
        margin-right: 15px;
    }
  

    /*RESPONSIVE RELATIONATED*/
    @media screen and (max-width:1024px) {

        header{
            padding: 2vh;
        }

        .tools-cards-rel{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap:25px;
        margin-top: 20px;
    }

         .card-tr{
            padding: 5vh 5vw;
        }
        
        .container-flex img{
            width: 100%;
        }
    }


    @media screen and (max-width:480px) {

    #tools-rel{
        padding: 8%;
    }

    .tools-cards-rel{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card-tr{
        align-items: center;
        padding: 10vh 12vw;
        border-radius: 20px;
    }

    .card-tr img{
        width: 10vw;
    }
  
    }



     /*FOOTER CONTACT*/

     #contact{
        padding: 5%;
        background-color: var(--bg);
    }

    .card-footer{
        background-color: var(--cards);
        padding: 3%;
        border-radius: 10px;
    }

    .contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-contact{
        display: flex;
    }
    
    .text-contact h3{
        margin: 20px 20px 20px 0px;
    }

    .contact img{
        display: none;
        margin-bottom: 6%;
        border-radius: 5px;
    }

    .contact h2{
        margin-left: 15px;
    }

    .rrss{
        display: flex;
    }

    .rrss a{
        text-decoration: none;
        color: black;
        margin-right: 5%;
    }

    .bx{
        color: #4D4DCE;
        margin-right: 5px;
    }


    .btn-primary-desktop{
        display: block;
    }

/*FOOTER CONTACT RESPONSIVE*/

@media screen and (max-width:480px) {

#contact{
    padding: 8%;
}

.card-footer{
    padding: 5%;
    margin: 5%;
    border-radius: 8px;
    display: block;
}

.contact{
    display: block;
}


.contact img{
    display: none;
    margin-bottom: 6%;
    border-radius: 5px;
}

.contact h2{
    margin-left: 15px;
}

.rrss{
    padding: 20px 0px;
    display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
}

.rrss a{
    margin-right: 0%;
    padding: 10px 0px;
}

.bx{
    font-size: 20px;
}

/*PRIMARY BUTTON*/

.btn-primary-phone{
    display: none;
}


.btn-primary{
    display: block;
    text-align: center;
}


}


/*BABYMONSTER*/


/*about bm*/

.about-bm{
    padding: 20px;
}

.about-bm h3{
    margin-top: 20px;
}

.about-bm span{
    color: #B61A22;
}


/*about INPACK STUDIO*/

.about-inpack-studio{
    padding: 20px;
}

.about-inpack-studio h3{
    padding: 5%;
    margin: 40px 0px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.about-inpack-studio span{
    color: #cbbba0;
}


/*about SANTANDER OPEN ACADEMY*/

.about-santander-open-academy{
    padding: 20px;
}

.about-santander-open-academy h3{
    margin-top: 20px;
}

.about-santander-open-academy span{
    color: #EC0000;
}

