@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #4D4DCE;
    --bg: #E1E8FF;
    --border-card: #F2F2FD;
    --cards: #FEFEFF;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 18px;
}

::-webkit-scrollbar-track{
    background-color: #F2F2FD;
}

::-webkit-scrollbar-thumb{
    background-color: #9e9ead;
    border-radius: 8px;
    border: 3px solid #F2F2FD;
}

/*HEADER*/

#logo-desktop {
    height: 3rem;
    display: flex;
}

#logo-phone {
    display: none;
}

.show-menu,
    .hide-menu{
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
    }

    .show-menu{
        order: 1;
    }

    .menu a:hover,
    .show-menu:hover,
    .hide-menu{
        transition: 0.2s ease-out;
    }

    #check{
        display: none;
    }

    



    header{
        z-index: 1;
        background-color: #fff;
        padding: 4vh;
        width: 100vw;
        display: flex;  
        justify-content: space-between;
        position: fixed;
    }


    header ul{
        display: grid; 
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 1fr;    
        gap: 15px;
        list-style: none;
        align-items: center;
    }

    header li a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .menu{
        text-align: center;
    }

    /*PRIMARY BUTTON*/

    .btn-primary-menu{
        background-color: var(--primary);
        padding: 10px 15px;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
    }

    .btn-primary{
        background-color: var(--primary);
        padding: 10px 15px;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
    }

    .btn-primary-desktop, .btn-primary-phone{
        background-color: var(--primary);
        padding: 10px 15px;
        border-radius: 8px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
    }


/*RESPONSIVE HEADER*/

@media screen and (max-width:1024px){
    header{
        padding: 1vh;
    }

}

@media screen and (max-width:912px) {

    header{
            padding: 1vh;
        }

    .menu{
        padding-left: 10px;
    }
}



    @media screen and (max-width:712px) {

        header{
            padding: 2.5vh;
        }

        #logo-desktop {
            display: none;
        }
        
        #logo-phone {
            height: 2.5rem;
            display: flex;
        }

        header li a{
            text-decoration: none;
            color: white;
            font-weight: 500;
        }

        
        .show-menu,
        .hide-menu{
        display: block;
        }

        .menu{
            position: fixed;
            width: 100%;
            height: 120vh;
            background: #4D4DCE;
            right: -100%;
            top: 0;
            text-align: center;
            padding: 100px 0px;
            z-index: 100;
            transition: 0.8s;
            display: block;
            justify-content: center;
            margin: 0;
        }

        header li a{
            display: block;
            padding: 20px;
            color: #FEFEFF;
            justify-content: center;
            margin-bottom: 2px;
        }

        .btn-primary-menu{
            background-color: var(--cards);
            padding: 10px 15px;
            border-radius: 8px;
            color: #4D4DCE;
            margin: 15px 28px;
        }

        .hide-menu{
            position: absolute;
            top: 40px;
            right: 40px;
        }
        #check:checked ~ .menu{
            right: 0;
        }
        
    }



    /*MAIN*/

    main{
        background-color: var(--bg);
        padding: 12% 5% 5% 8%;
        display: flex;  
        justify-content: space-around;
        align-items: center;
    }

    main img{
        width: 42%;
        border-radius: 10px;
    }

    main img{
        width: 350px;
    }

    .logo-svg{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }

    .logo-svg img{
        width: 20vw;
        height: 20vw;
        margin-left: 135%;
        margin-bottom: 62%;
        opacity: 0.5;
        position: relative;
    }


    /*TEXT*/


    .title{
        margin-bottom: 5vh;
    }

    h1{
        color: var(--primary);
        font-weight: 600;
        margin: 6px 0px;
    }

    h2{
        font-weight: 500;
        font-size: 2rem;
        margin: 6px 0px;
    }

    h2 a{
        color: black;
        font-weight: 400;
    }

    p{
        font-size: 1.2rem;
    }

    span{
        font-size: 1.8rem;
        color: var(--primary);
        font-weight: 500;
    }

    .btn-primary-phone{
        display: none;
    }



/*MAIN RESPONSIVE*/

@media screen and (max-width:1280px){


    .logo-svg img{
        margin-left: 138%;
        margin-bottom: 83%;
        width: 15vw;
        height: 15vw;
    }

    p{
        font-size: 1rem;
    }

}

@media screen and (max-width:900px){
    main{
        padding: 20% 6% 8%;
    }

    h1{
        font-size: 1.3rem;
    }
    

    .logo-svg{
        display: none;
    }
}

@media screen and (max-width:540px){
    main{
        padding: 20% 6% 8%;
    }

    h1, h2{
        font-size: 1rem;
    }

}

@media screen and (max-width:480px) {

main{
    padding: 35% 8% 0% 8%;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;    
    justify-content: center;
}

main img{
    width: 20vw;
    display: none;
}

.main-content{
    margin-left: 0vw;
}

.main-content p{
    margin-bottom: 3vh;
}

}


    /*PROJECTS*/

    #projects{
        padding: 2% 10%;
        background-image: url(../img/bg-projects-section.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .cards-projects{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap:25px;    
    }


    .card-pj img{
        width: 24vw;
        border-radius: 15px;
        border: 6px solid #F2F2FD;
        margin-bottom: 2vh;
    }

    .logo-svg-projects img{
        width: 10%;
        margin-left: 100%;
        top: 0;
    }


    /*TEXT*/

    h2{
        font-size: 1rem;
    }


    span{
        font-size: 1rem;
    }


/*PROJECTS RESPONSIVE*/

@media screen and (max-width:800px){

    #projects{
        padding: 4% 10% 6% 8%;
    }

    .cards-projects{
        gap: 15px;
    }

    .card-pj h2{
        margin: 4px 0px;
    }

    .card-pj img{
        width: 26vw;
        border-radius: 15px;
        border: 6px solid #F2F2FD;
        margin-bottom: 1vh;
    }

    a, span{
        font-size: 0.7rem;
    }

}


@media screen and (max-width:480px) {

    #projects{
        padding: 8%;
        justify-content: center;
        background-image: url(../img/projects-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }

    .cards-projects{
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:35px;    
    }


    .card-pj img{
        width: 80vw;
        margin-bottom: 4vh;
    }
}




    /*SKILLS*/

    #skills{
        /* background-color: var(--primary); */
        padding: 5%;
        background-image: url(../img/subtract-skills-section.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .skills-cards{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap:25px;
    }

    .card-sk{
        background-color: var(--cards);
        display: flex;
        align-items: center;
        padding: 10vh 5vw;
        border-radius: 20px;
    }

    .card-sk img{
        width: 7vw;
        margin-right: 15px;
    }
  

    /*RESPONSIVE SKILLS*/

    @media screen and (max-width:1024px){
        #skills{
            /* background-color: var(--primary); */
            background-color: #AAAEEC;
            padding: 5%;
            background-image: url(../img/subtract-skills-section-tablet.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        .card-sk{
            padding: 5vh 5vw;
            border-radius: 18px;
        }

        h2 a{
            font-size: 0.8rem;
        }

        .card-sk img{
            width: 40px;
        }
    }


    @media screen and (max-width:480px) {

    #skills{
        background-color: #AAAEEC;
        padding: 8%;
        background-image: url(../img/subtract-skills-section-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .skills-cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    }
    



    /*Certifications*/

    #certifications{
        padding: 5%;
        background-color: var(--primary);
        background-size: contain;
        background-position: bottom;
        background-image: url(../img/subtract-certifications-section.png);
        background-repeat: no-repeat;
    }

    #certifications h2{
        /* color: #fff; */
    }

    .cards-certifications{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap:25px;
    }

    .card-cf img{
        width: 24vw;
        border-radius: 15px;
        border: 6px solid #F2F2FD;
        margin-bottom: 2vh;
    }


/*RESPONSIVE CERTIFICACIONES*/
@media screen and (max-width:800px){
    #certifications{
        padding: 4% 10% 6% 6%;
        background-image: url(../img/subtract-certifications-section-tablet.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .card-cf img{
        width: 26vw;
        border: 6px solid #F2F2FD;
        margin-bottom: 1vh;
    }

    a{
        font-size: 0.6rem;
    }

    h2{
        margin: 0;
    }
}



@media screen and (max-width:480px) {

    #certifications{
        padding: 8%;
        /* background-color: #E1E8FF; */
        justify-content: center;
        background-size: contain;
        background-position: top;
        background-image: url(../img/subtract-certifications-section-mobile.png);
        background-repeat: no-repeat;
    }

    h2{
        color: #000;
    }

    .cards-certifications{
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:35px;    
    }


    .card-cf img{
        width: 80vw;
        margin-bottom: 2vh;
    }

    a, span{
        font-size: 0.8rem;
    }
  
    }


    /*FOOTER CONTACT*/

    #contact{
        padding: 5%;
        background-color: var(--bg);
    }

    .card-footer{
        background-color: var(--cards);
        padding: 3%;
        border-radius: 10px;
    }

    .contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-contact{
        display: flex;
        align-items: center;
    }

    .contact img{
        width: 5vw;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .contact h2{
        margin-left: 15px;
    }

    .rrss{
        display: flex;
    }

    .rrss a{
        text-decoration: none;
        color: black;
        margin-right: 5%;
    }

    .bx{
        color: #4D4DCE;
        margin-right: 5px;
    }

    .btn-primary-phone{
        display: none;
    }

    .btn-primary-desktop{
        display: block;
    }

/*FOOTER CONTACT RESPONSIVE*/

@media screen and (max-width:480px) {

#contact{
    padding: 8%;
}

.card-footer{
    padding: 5%;
    margin: 5%;
    border-radius: 8px;
    display: block;
}

.contact{
    display: block;
}


.contact img{
    width: 13vw;
    margin-bottom: 6%;
    border-radius: 5px;
}

.contact h2{
    margin-left: 15px;
    font-size: 1rem;
}

.rrss{
    padding: 5px 0px;
    display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
}

.rrss a{
    margin-right: 0%;
    padding: 10px 0px;
}

.bx{
    font-size: 20px;
}

/*PRIMARY BUTTON*/

.btn-primary-phone{
    display: block;
}

.btn-primary-desktop{
    display: none;
}


}


